<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню | IL PIACERE</title>

    <link rel="stylesheet" href="/wwwroot/css/Menu.css">
    <!-- =================================================================== -->
    <link rel="stylesheet" href="/wwwroot/css/Body.css">
    <!-- =================================================================== -->
    <link rel="stylesheet" href="/wwwroot/css/CardFood.css">
    <!-- =================================================================== -->
    <link rel="stylesheet" href="/wwwroot/css/LayoutHeader.css">
    <!-- =================================================================== -->
    <link rel="stylesheet" href="/wwwroot/css/LayoutFooter.css">
    <!-- =================================================================== -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- =================================================================== -->
    <link rel="icon" type="image/vnd.microsoft.icon" href="/wwwroot/image/Icon2.ico">
    <!-- =================================================================== -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>

<body>
    <div id="rule-saler"></div>
    <section class="menu-nav">
        <nav id="navbar-mynavbar" class="justify-content-center navbar navbar-light">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#rule-saler">Правила для продавца</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#rule-customer">Правила для покупателя</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#deal">Защита сделки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#privacy">Пользовательское соглашение</a>
                </li>

            </ul>
        </nav>
    </section>

    <section id="soup" class="rule-container new-container" data-spy="scroll" data-target="#navbar-mynavbar"
        data-offset="0">
        <div class="rule-element">
            <h2 class="text text-center"><span>01.</span> Правила для продавца</h2>
            <table>
                <thead>
                    <tr>

                        <th>
                            Нарушение
                        </th>
                        <th>
                            Санкции
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p class="text-descript">
                                Передача товара или оказание услуги без проведения платежа через Space Store. Обмен
                                товарами или услугами без проведения платежа.
                            </p>
                        </td>
                        <td>
                            <p class="text-descript">
                                Блокировка всех аккаунтов покупателя и продавца. Блокировка всех новых аккаунтов
                                нарушителя по мере их выявления. Отказ в выплатах.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="text-descript">
                                Продажа товаров, полученных незаконным либо мошенническим путём (взломом, брутом,
                                кардингом и т. д.).</p>
                        </td>
                        <td>
                            <p class="text-descript">
                                Блокировка аккаунта навсегда. Блокировка всех новых аккаунтов нарушителя по мере их
                                выявления. Отказ в выплатах.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="text-descript">
                                Сознательное размещение лота о продаже недействительных\несуществующих товаров и услуг.
                                Сознательное размещение лота с недействительной ценой. Игнорирование заказов.
                        </td>
                        <td>
                            <p class="text-descript">
                                Временная блокировка (от 1 до 10 дней). При систематическом нарушении (3 раза и более)
                                блокировка аккаунта навсегда (без отказа в выплатах).</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section id="soup" class="rule-container new-container" data-spy="scroll" data-target="#navbar-mynavbar"
        data-offset="0">
                <div id="rule-customer"></div>
        <div class="rule-element">
            <h2 class="text text-center"><span>02.</span> Правила для покупателя</h2>
            <table>
                <thead>
                    <tr>

                        <th>
                            Нарушение
                        </th>
                        <th>
                            Санкции
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p class="text-descript">
                                Передача товара или оказание услуги без проведения платежа через Space Store. Обмен
                                товарами или услугами без проведения платежа.
                            </p>
                        </td>
                        <td>
                            <p class="text-descript">
                                Блокировка всех аккаунтов покупателя и продавца. Блокировка всех новых аккаунтов
                                нарушителя по мере их выявления. Отказ в выплатах.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="text-descript">
                                Продажа товаров, полученных незаконным либо мошенническим путём (взломом, брутом,
                                кардингом и т. д.).</p>
                        </td>
                        <td>
                            <p class="text-descript">
                                Блокировка аккаунта навсегда. Блокировка всех новых аккаунтов нарушителя по мере их
                                выявления. Отказ в выплатах.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="text-descript">
                                Сознательное размещение лота о продаже недействительных\несуществующих товаров и услуг.
                                Сознательное размещение лота с недействительной ценой. Игнорирование заказов.
                        </td>
                        <td>
                            <p class="text-descript">
                                Временная блокировка (от 1 до 10 дней). При систематическом нарушении (3 раза и более)
                                блокировка аккаунта навсегда (без отказа в выплатах).</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section id="soup" class="rule-container new-container" data-spy="scroll" data-target="#navbar-mynavbar"
        data-offset="0">
        <div id="deal"></div>
        <div class="rule-element">
            <h2 class="text text-center"><span>03.</span> Защита сделки</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <p class="text-descript">
                        Все сделки совершаемые на маркетплейсе Loot4Pay безопасны и надежны. Наши специалисты немедленно
                        выявляют любые попытки мошенничества. Покупатель всегда защищен от недобросовестных продавцов,
                        которые не выполняют условий оговоренной сделки либо доставляют заказ не соответствующий
                        описанию в предложении.
                    </p>
                    <p class="text-descript">
                        При покупке средства немедленно списываются и замораживаются на площадке до успешного завершения
                        сделки. Как только товар доставлен или услуга оказана, покупатель закрывает сделку путем нажатия
                        кнопки в интерфейсе и замороженные средства переводятся на счет продавца.
                    </p>
                    <p class="text-descript">Если по каким-то причинам покупатель не совершил закрытие, то спустя 48
                        часов с момента подтверждения выполнения сделки продавцом, происходит ее автоматическое
                        закрытие. В случае разногласий, просим немедленно обращаться в поддержку.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="soup" class="rule-container new-container" data-spy="scroll" data-target="#navbar-mynavbar"
        data-offset="0">
        <div id="privacy"></div>
        <div class="rule-element">
            <h2 class="text text-center"><span>04.</span> Пользовательское соглашение</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <p class="text-descript">
                        Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между владельцем
                        spacestore (далее Space Store или Администрация) с одной стороны и пользователем сайта с другой.
                        Сайт Space Store не является средством массовой информации.
                    </p>
                    <p class="text-descript">
                        Используя сайт, Вы соглашаетесь с условиями данного соглашения.<br>
                        <b>Если Вы не согласны с условиями данного соглашения, не используйте сайт Space Store!</b>
                    </p>
                    <h3>Права сторон</h3>
                    <h5>Пользователь имеет право:</h5>
                    <p class="text-descript">
                        - осуществлять поиск информации на сайте<br>
                        - получать информацию на сайте<br>
                        - создавать информацию для сайта<br>
                        - распространять информацию на сайте<br>
                        - требовать от администрации скрытия любой информации переданной пользователем сайту<br>
                        - использовать информацию сайта в коммерческих целях с разрешения Администрации<br>
                    </p>
                    <h5>Администрация имеет право:</h5>
                    <p class="text-descript">
                        - по своему усмотрению и необходимости создавать, изменять, отменять правила<br>
                        - ограничивать доступ к любой информации на сайте<br>
                        - создавать, изменять, удалять информацию<br>
                        - удалять учетные записи<br>
                    </p>
                    <h3>Ответственность сторон</h3>
                    <p class="text-descript">
                        - пользователь лично несет полную ответственность за распространяемую им информацию<br>
                        - администрация не несет никакой ответственности за достоверность информации, скопированной из
                        других источников<br>
                        - администрация не несёт ответственность за несовпадение ожидаемых Пользователем и реально
                        полученных услуг<br>
                        - администрация не несет никакой ответственности за услуги, предоставляемые третьими лицами<br>
                        - в случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение,<br>
                        стихийное бедствие и т. д.) Администрация не гарантирует сохранность информации, размещённой
                        Пользователем, а также бесперебойную работу информационного ресурса
                    </p>
                    <h3>Условия действия Соглашения</h3>
                    <p class="text-descript">
                        Данное Соглашение вступает в силу при регистрации на сайте.
                        Соглашение перестает действовать при появлении его новой версии.
                        Администрация оставляет за собой право в одностороннем порядке изменять данное соглашение по
                        своему усмотрению.
                        Администрация не оповещает пользователей об изменении в Соглашении.
                    </p>
                </div>
            </div>
        </div>
    </section>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        $('body').scrollspy({ target: '#navbar-mynavbar' })
    </script>

</body>
<script src="/wwwroot/js/upButton.js"></script>

</html>