<div>
    <p>
        1. Общие положения

        1.1. Продавец является владельцем Сайта, осуществляющим его администрирование.
        1.2. При оформлении Заказа, Покупатель принимает Условия соглашения.
        1.3. Покупатель соглашается с Условиями нажатием кнопки «Купить» на последнем этапе оформления Заказа на сайте.
        1.4. Сайт оказывает услуги только на территории РФ и стран СНГ, при этом некоторые Товары имеют региональные
        ограничения и предназначены для активации на территории РФ, Украины и стран СНГ.

        2. Порядок оформления Заказа и доставка Товара

        2.1. При оформлении Заказа Покупатель должен указать электронный адрес, на который будет доставлен Товар.
        2.2. Доставка Цифрового товара осуществляется сразу же после оплаты.
        2.3. Любая информация, представленная на сайте, носит справочный характер. Для уточнения свойств и характеристик
        Цифрового товара/Сувениров, Покупатель должен обратиться к Продавцу.
        2.4. Доставка Сувениров осуществляется в срок до 50 дней с момента составления Заказа.
        2.5. После заказа, доставка Вещей осуществляется в срок до 24 часов.
        2.6. Если Покупателем не будет принят обмен в течении 45 минут, сделка аннулируется без возврата средств.
        2.7. При скрытом или заблокированном инвентаре Покупателя, Вещь не может быть доставлена и сделка, так же,
        аннулируется без возврата средств.
        2.8. При блокировке аккаунта Покупателя, Вещь не может быть доставлена и сделка, так же, аннулируется без
        возврата средств.

        3. Оплата Товара

        3.1. Цена Товара указана на сайте и может быть изменена Продавцом в одностороннем порядке.
        3.2. Действующая цена указывается на последнем этапе оформления Заказа. После нажатия кнопки «Купить», цена не
        может быть изменена Продавцом.
        3.3. Покупатель может выбрать любой способ оплаты из доступных.
        3.4. Оплата совершается через платежного-агрегатора Robokassa.
        3.5. Платежный-агрегатор взымает комиссию установленную им.

        4. Возврат и обмен Товара

        4.1. Цифровой товар, приобретенный Покупателем, подлежит возврату или обмену, в случае если товар был невалидным
        с момента покупки. Заявка на обмен принимается не позднее 30 минут с момента покупки.
        4.2. Если вы получили товар ненадлежащего качества, мы приносим свои глубочайшие извинения. Мы готовы поменять
        товар или вернуть вам денежные средства. Заявления на возврат и обмен принимаются в течение 30 минут с момента
        получения заказа.
        4.3. В случае возврата / обмена товар не подлежит.

        5. Авторское право

        5.1. Соблюдать авторские права, установленные законодательством РФ и СНГ. Использовать Товар только в личных
        некоммерческих целях.

        6. Прочие условия

        6.Права и обязанности сторон 6.1. Продавец имеет право переуступать и/или передавать свои права и обязанности,
        вытекающие из его отношений с Покупателем, третьим лицам.
        6.2. Продавец может предоставлять Покупателю скидки и бонусы. Их виды, правила начисления и условия получения
        указаны на сайте в разделах «Бонус», «Промо-код» и «Скидка».
        6.3. Продавец может менять скидки и бонусы, а также правила их начисления и условия получения в одностороннем
        порядке.
        6.4. Клиент обязуется использовать приобретенный Товар исключительно для личных, домашних, семейных целей, а
        также целей, не связанных с осуществлением коммерческой деятельности.


        7.1. При возникновении вопросов, Покупатель имеет право обратиться к Продавцу по любому контакту, указанному на
        сайте в разделе «Поддержка».
        7.2. Все возникающее споры стороны будут стараться решить путем переговоров.
        7.4. Продавец не отвечает за действия товаров, которые вы уже приобрели.

        8. Конфиденциальность

        8.1. Любая персональная информация, полученная Покупателем и Продавцом с помощью Сайта, является
        конфиденциальной.
        8.2. Стороны обязуются соблюдать законодательство РФ и не разглашать конфиденциальную информацию третьим лицам.
        8.3. Для выполнения своих обязательств по продаже Товара, Продавец собирает следующую информацию о Покупателе: -
        личную информацию, которую Покупатель сознательно предоставил Продавцу; - техническую информацию, собираемую
        программным обеспечением Продавца во время посещения Сайта Покупателем.
        8.4. Пользователь дает Продавцу разрешение на сбор, обработку и хранение своих персональных данных.
        8.5. Продавец никогда и никому не предоставляет персональную информацию Покупателя, кроме случаев,
        предусмотренных законодательством РФ.
    </p>
</div>