body .table-roles{
    margin: 10px 80px 80px;
    padding: 40px;
    width: auto;
    color: #FFFFFF !important;
}
body .table-roles h2{
    text-align: center;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 30px;
    color: #FFFFFF;
}
body .table-roles .create-product {
    margin: 40px 0px;
    width: auto;
}
body .table-roles .create-product .form-group-check {
    margin: 80px 100px;
    width: auto;
}
body .table-roles .btn-create-product{
    padding: 16px 55px;
    border: 2px solid #A93E4D;
    border-radius: 30px;
    width: auto;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 107.9%;

    letter-spacing: 0.02em;
    color: #A93E4D;
}

body .table-roles .table thead{
    /* background: rgba(214, 204, 195, 0.3); */
    font-style: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center !important;
    color: #FFFFFF !important;
}
body .table-roles .table thead tr:last-child, body .table-roles .table-categories thead tr:last-child{
    color: #FFFFFF !important;
    height: 40px;
    background: rgba(255, 255, 255, 0) !important;
    /* border: 1px solid #FFF8F4; */
}
body .table-roles .table tbody, body .table-roles .table-categories tbody {
    color: #FFFFFF !important;
    font-style: normal;
    font-weight: 100 !important;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
}
body .table-roles .table tbody tr, .table-roles .table thead tr, body .table-roles .table-categories tbody tr, .table-roles .table-categories thead tr{
    border: 1px solid rgba(61, 29, 0, 0.2);
}
body .table-roles .table .table-thead tr th, body .table-roles .table-categories .table-thead tr th{
    font-weight: normal !important;
    text-align: center;
    padding: 20px 31px;
}
body .table-roles .table .btn-product, body .table-roles .table-categories .btn-product{
    
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-decoration-line: underline;
    color: red;
    margin-right: 10px;
}
body .table-roles .table .btn-product:last-child, body .table-roles .table-categories .btn-product:last-child{
    margin-right: 15px;
}
body .table-roles .table .btn-product:first-child, body .table-roles .table-categories .btn-product:first-child{
    margin-left: 15px;
}
body .table-roles .table .btn-details, body .table-roles .table-categories .btn-details{
    color: #3A998E !important;
}
body .table-roles  .table .btn-edit, body .table-roles  .table-categories .btn-edit{
    color: rgba(62, 79, 169, 0.8) !important;
}
body .table-roles .table .btn-delete, body .table-roles .table-categories .btn-delete{
    color: #A93E4D !important;
}

body .table-roles .table tbody tr:hover, body .table-roles .table-categories tbody tr:hover{
    color: black;
    background: rgba(255, 255, 255, 0.5)
}

.table-roles td, .table-roles th  {
    text-align: center;
}
body .table-roles .table tbody tr{
    font-size: 16px !important;
}

body .table-roles .btn-create-product, body .table-roles .btn-add-user, body .btn-save-edit-user{
    padding: 16px 55px;
    border: 2px solid #A93E4D;
    border-radius: 30px;
    width: auto;
    background-color: #FFF8F4!important;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 107.9%;
    
    letter-spacing: 0.02em;
    color: #A93E4D;
    margin-right: 20px;
}

body .table-roles .create-roles{
    margin: 40px 200px 0;
}
body .table-roles h4{
    margin-bottom: 40px;
}

body .btn-add-user{
    margin: 40px 119px;
}
body .btn-save-edit-user{
    margin: 10px 60px 0px 60px;
}

body .container-prosuct .edit-user{
    padding: 20px 50px;
    margin: 10px 100px;
    font-size: 18px;
}
.btn-save-edit {
    
    margin: 10px 100px;

    padding: 10px 35px !important;
    border-radius: 30px !important;
    color: #fff !important;
    font-weight:500;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif !important;
    /* line-height: 24.84px; */
    background: rgba(255, 255, 255, 0.1) !important;
 
    border: 1px solid #FFFFFF !important;
    box-sizing: border-box;
}



